<!--Title-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
</div>
<!--Metadata-->
<div class="metadata">{{ company }} | {{ today | date: "fullDate" }} |</div>
<ul class="nav">
  <li><a href="">All</a></li>
  <li><a href="./enviroment">Enviroment</a></li>
  <li><a href="./technology">Technology</a></li>
  <li><a href="./social">Social</a></li>
</ul>
<!--Section-->
<router-outlet></router-outlet>
