<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
  <!--SideBar-->
  <div fxFlex="20" class="sidebar">
    <div *ngFor="let story of FrontPage.sidebarContent">
      <h3>{{ story.title }}</h3>
      <p>{{ story.content }}</p>
      <p></p>
    </div>
  </div>
  <!--Main Content-->
  <div fxFlex="80" class="main">
    <h1 class="frontpage-title">{{ FrontPage.title }}</h1>

    <div class="image">
      <img class="frontpage-img" src="{{ FrontPage.image.url }}" />
      <p class="frontpage-img-subtitle">{{ FrontPage.image.imageSubtitle }}</p>
    </div>

    <p class="frontpage-content">{{ FrontPage.content }}</p>

    <!--Other Stories-->
    <div></div>
  </div>
</div>
